.home-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 400px;
}
.start-btn{
    box-sizing: border-box;
    width: 140px;
    height: 60px;
    border-radius: 20px;
    background: #922a2f;
    background: radial-gradient(#cba59c, #922a2f);
}