.list-of-streams{
    list-style-type: none;
}
.stream-list-container{
    width: 40%;
}
.list-item,  .input-field{
    display: flex;
    justify-content: space-between;
}
.remove-button{
    background-color: #ff8579;
}
.sync-button{
    display: block;
}